[submodule "admin-dashboard"]
	path = admin-dashboard
	url = git@github.com:kpirabaharan/E-Commerce-Admin-Dashboard.git
[submodule "store"]
	path = store
	url = https://github.com/kpirabaharan/E-Commerce-Store
[submodule "android_app"]
	path = android_app
	url = git@github.com:kpirabaharan/E-Commerce-Android-App.git
